---
name: Functional Tests

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      text:
        description: "Text for a call"
        required: false
        default: "Call from functional tests"
        type: string

jobs:
  twilio-voice-call:
    name: Twilio voice call
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Make a call
        uses: ./
        with:
          twilio-account-sid: ${{ secrets.TWILIO_ACCOUNT_SID }}
          twilio-auth-token: ${{ secrets.TWILIO_AUTH_TOKEN }}
          text: ${{ inputs.text }}
          from: ${{ secrets.TWILIO_NUMBER_FROM }}
          to: ${{ secrets.TWILIO_NUMBER_TO }}
